<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/lawrence/Desktop/THE-DISS/writing</string>
	<key>EnabledCompilePresets</key>
	<array/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>557CA1F8-9AAC-4A3D-8F9E-5DE1E73ADB22</key>
		<dict>
			<key>BinderUUID</key>
			<string>557CA1F8-9AAC-4A3D-8F9E-5DE1E73ADB22</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>482 277 475 522 0 0 1440 877 </string>
		</dict>
	</dict>
	<key>RecentMoveTos</key>
	<array>
		<integer>2</integer>
	</array>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>10</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 766}}</string>
		<string>{{176, 0}, {1264, 766}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>043D9B6B-FB35-4879-B62B-870533D0FC75</string>
		<string>066B398A-31A6-4FEE-A2C6-8851CBC96F1A</string>
		<string>827134E0-05DA-4071-8DC8-33FF0930D68E</string>
		<string>C1C4A89F-FCAE-4A47-B7BB-6E766454FCD3</string>
		<string>0DC360E4-D27F-43E5-9830-36E1D2A9EE6D</string>
		<string>F74030DE-9681-4674-B304-739908CE1F53</string>
		<string>8482516E-8732-4F5E-A191-77B7657CD3EF</string>
		<string>F567B1B9-205A-4769-860A-D5A007683941</string>
		<string>6402C3D3-3CAF-487D-8F87-DB93FCE48129</string>
		<string>38396A52-40F3-4EFD-94C1-2D9BDC40E8F4</string>
		<string>5F4810CA-70C6-47CE-993B-35E80E83D88A</string>
		<string>5230D78F-F1A3-4261-A8FE-1B636C529482</string>
	</array>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>0</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {315, 736}}</string>
		<string>{{316, 0}, {948, 736}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>1</integer>
	<key>fullScreenBackgroundFade</key>
	<real>1</real>
	<key>fullScreenHorizontalPaperPosition</key>
	<integer>2</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>1041</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>fullScreenVerticalPaperPosition</key>
	<integer>2</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 756}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>716F0BF9-59ED-4047-9B1B-E96EECA29F01</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>22</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>AggregateSelection</key>
				<string>{391, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{117, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB331E24-B3EA-4F44-985D-3FBF4886330C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7D7DB3AB-1C27-4999-AA55-EF22774792A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FB34B409-14E5-4C6C-91ED-1229511DAF8C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>82425A20-9FF0-4B25-9726-A735EFDB276D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EC204CF2-6930-4249-B4AB-1FD2B5DD59B4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A74D80A2-C08F-4060-B01B-8C1427505DFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5051496E-517B-441B-8449-58AA18C1C8A3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A74D80A2-C08F-4060-B01B-8C1427505DFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E6CB2C3-E917-4D55-B78B-42516ACB8C89</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A74D80A2-C08F-4060-B01B-8C1427505DFB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9E483242-C1DD-4F8B-8FE1-678FA79B539E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EC204CF2-6930-4249-B4AB-1FD2B5DD59B4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>760F6F2D-F7BB-4353-9285-292548E595F9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E6CB2C3-E917-4D55-B78B-42516ACB8C89</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9E483242-C1DD-4F8B-8FE1-678FA79B539E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D4F41D3-4AF5-4429-8654-A28324930D4E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {210, 453.33333333333331}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{423, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>13,91</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>0 72 1440 788 0 0 1440 877 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>F881F14F-336C-479B-84CE-1CD344CA3DA4</string>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>85F9AD4A-A077-4866-90F4-7D2539398BE3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1012, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6129, 327}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>051CF740-75B7-4BEE-B98C-94BC25B843AB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6509, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>051CF740-75B7-4BEE-B98C-94BC25B843AB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6122, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{9036, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 44112}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>043D9B6B-FB35-4879-B62B-870533D0FC75</string>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
					<string>C1C4A89F-FCAE-4A47-B7BB-6E766454FCD3</string>
					<string>D606F0DD-8E54-4C22-8AB4-93D43DD3C86C</string>
					<string>0DC360E4-D27F-43E5-9830-36E1D2A9EE6D</string>
					<string>115C75E7-AFFA-4FCE-900A-F0895F3CC502</string>
					<string>051CF740-75B7-4BEE-B98C-94BC25B843AB</string>
					<string>5348EB00-C939-4C3B-A601-252EADBB954F</string>
					<string>F74030DE-9681-4674-B304-739908CE1F53</string>
					<string>D983AC00-809B-4877-B8F4-6CB0A4ECAAFE</string>
					<string>F90D8DD9-7804-4B37-BA9E-B86FF687FCED</string>
					<string>760F6F2D-F7BB-4353-9285-292548E595F9</string>
					<string>7AF56DB2-0E7E-4903-9BF5-CEB6FC91540E</string>
					<string>09FD869A-0D86-4A23-8CCA-224042D1E53A</string>
					<string>B531A3F8-0E11-4BD2-96F3-2EEDEF1956EB</string>
					<string>B731F015-C8B4-4CF9-A37B-CC400392F159</string>
					<string>F567B1B9-205A-4769-860A-D5A007683941</string>
					<string>6402C3D3-3CAF-487D-8F87-DB93FCE48129</string>
					<string>29946A10-3373-42AE-A10D-065B51D92787</string>
					<string>275DC523-EDDA-486D-AD30-0BFC42405E90</string>
					<string>DA2F9035-5642-456C-8962-4D1117B35F64</string>
					<string>3005AE41-E241-45A4-BDA5-AAB258B8121C</string>
					<string>BFB8748F-118A-4B56-ADBF-386E3DB1A43F</string>
					<string>F6C109D8-4075-4E37-AA34-CF4515D7FB14</string>
					<string>9D8AD9D7-54FD-4A4F-A717-FB08D1CE838E</string>
					<string>4064FF80-93B6-4606-AF0B-459C9B7B4CF3</string>
					<string>37AAF393-6E30-4679-A4F1-117F9DF197D4</string>
					<string>A8314F73-6247-4A4D-AD70-32A24AF9C227</string>
					<string>E158F644-8798-457E-BAB2-D6288E7402F8</string>
					<string>6878C619-CD76-4DD7-91EA-11D570A4D29C</string>
					<string>85F9AD4A-A077-4866-90F4-7D2539398BE3</string>
					<string>A6FB209C-081F-4B52-8878-89214991C085</string>
					<string>62F33C9A-9020-4235-B8A7-E5B6A6B1F6ED</string>
					<string>38396A52-40F3-4EFD-94C1-2D9BDC40E8F4</string>
					<string>BB0E9FD3-BADD-4BFD-B0ED-90BBA4D79870</string>
					<string>11BF4A7B-4C91-4806-A362-319BF51B971B</string>
					<string>5F4810CA-70C6-47CE-993B-35E80E83D88A</string>
					<string>5230D78F-F1A3-4261-A8FE-1B636C529482</string>
					<string>1CD2817E-EBA7-4D19-ABAB-16A70F32328C</string>
					<string>00A865BF-CB12-4BC7-8B35-AC0C7CBC7372</string>
					<string>FF258C4E-5601-48DE-8A7E-F47F600C32C4</string>
					<string>CF5287F4-737A-4E9B-98BC-E14B57CB99F6</string>
					<string>1FBE203C-507B-4467-90A4-5A6E758DA306</string>
					<string>42D9F0E4-1B22-49F7-90B1-B771983D5673</string>
					<string>3098E885-6958-4BA5-8FDD-EC62CD7AE739</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{11025, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1012, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>043D9B6B-FB35-4879-B62B-870533D0FC75</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{710, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F74030DE-9681-4674-B304-739908CE1F53</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C1C4A89F-FCAE-4A47-B7BB-6E766454FCD3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D606F0DD-8E54-4C22-8AB4-93D43DD3C86C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0DC360E4-D27F-43E5-9830-36E1D2A9EE6D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8C7562B0-321B-4CAB-83D4-1DB459097685</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1279, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F74030DE-9681-4674-B304-739908CE1F53</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>409B81C7-7B65-4324-B886-517189DD0F45</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{3315, 133}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B531A3F8-0E11-4BD2-96F3-2EEDEF1956EB</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>043D9B6B-FB35-4879-B62B-870533D0FC75</string>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
					<string>C1C4A89F-FCAE-4A47-B7BB-6E766454FCD3</string>
					<string>F74030DE-9681-4674-B304-739908CE1F53</string>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
					<string>409B81C7-7B65-4324-B886-517189DD0F45</string>
					<string>D983AC00-809B-4877-B8F4-6CB0A4ECAAFE</string>
					<string>F90D8DD9-7804-4B37-BA9E-B86FF687FCED</string>
					<string>760F6F2D-F7BB-4353-9285-292548E595F9</string>
					<string>7AF56DB2-0E7E-4903-9BF5-CEB6FC91540E</string>
					<string>09FD869A-0D86-4A23-8CCA-224042D1E53A</string>
					<string>B531A3F8-0E11-4BD2-96F3-2EEDEF1956EB</string>
					<string>B731F015-C8B4-4CF9-A37B-CC400392F159</string>
					<string>F567B1B9-205A-4769-860A-D5A007683941</string>
					<string>6402C3D3-3CAF-487D-8F87-DB93FCE48129</string>
					<string>29946A10-3373-42AE-A10D-065B51D92787</string>
					<string>275DC523-EDDA-486D-AD30-0BFC42405E90</string>
					<string>DA2F9035-5642-456C-8962-4D1117B35F64</string>
					<string>3005AE41-E241-45A4-BDA5-AAB258B8121C</string>
					<string>BFB8748F-118A-4B56-ADBF-386E3DB1A43F</string>
					<string>F6C109D8-4075-4E37-AA34-CF4515D7FB14</string>
					<string>9D8AD9D7-54FD-4A4F-A717-FB08D1CE838E</string>
					<string>4064FF80-93B6-4606-AF0B-459C9B7B4CF3</string>
					<string>37AAF393-6E30-4679-A4F1-117F9DF197D4</string>
					<string>A8314F73-6247-4A4D-AD70-32A24AF9C227</string>
					<string>E158F644-8798-457E-BAB2-D6288E7402F8</string>
					<string>6878C619-CD76-4DD7-91EA-11D570A4D29C</string>
					<string>85F9AD4A-A077-4866-90F4-7D2539398BE3</string>
					<string>A6FB209C-081F-4B52-8878-89214991C085</string>
					<string>62F33C9A-9020-4235-B8A7-E5B6A6B1F6ED</string>
					<string>38396A52-40F3-4EFD-94C1-2D9BDC40E8F4</string>
					<string>BB0E9FD3-BADD-4BFD-B0ED-90BBA4D79870</string>
					<string>11BF4A7B-4C91-4806-A362-319BF51B971B</string>
					<string>5F4810CA-70C6-47CE-993B-35E80E83D88A</string>
					<string>5230D78F-F1A3-4261-A8FE-1B636C529482</string>
					<string>1CD2817E-EBA7-4D19-ABAB-16A70F32328C</string>
					<string>00A865BF-CB12-4BC7-8B35-AC0C7CBC7372</string>
					<string>FF258C4E-5601-48DE-8A7E-F47F600C32C4</string>
					<string>CF5287F4-737A-4E9B-98BC-E14B57CB99F6</string>
					<string>1FBE203C-507B-4467-90A4-5A6E758DA306</string>
					<string>42D9F0E4-1B22-49F7-90B1-B771983D5673</string>
					<string>3098E885-6958-4BA5-8FDD-EC62CD7AE739</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{12175, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F74030DE-9681-4674-B304-739908CE1F53</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB331E24-B3EA-4F44-985D-3FBF4886330C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7D7DB3AB-1C27-4999-AA55-EF22774792A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>409B81C7-7B65-4324-B886-517189DD0F45</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>333B7232-879E-4267-A8BE-143629AA6D35</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0AA889B4-2AEC-458D-9B20-620F40B1A596</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6C12E22D-7644-431F-AF21-0A56322288BD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4E7C1283-4719-44CB-9F15-BA0F0850C3F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CA18A8BD-A48E-43B8-A6D7-3BA9B97678C1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2E45450E-A3DE-4E68-B6AF-5AEE13E85C82</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3CB6E25B-B47C-4101-ABCF-88B24EB3CD55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB331E24-B3EA-4F44-985D-3FBF4886330C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{391, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C53F4A9-9E93-4F0F-81AA-64B440A9150E</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{330, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB331E24-B3EA-4F44-985D-3FBF4886330C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FB34B409-14E5-4C6C-91ED-1229511DAF8C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>82425A20-9FF0-4B25-9726-A735EFDB276D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5051496E-517B-441B-8449-58AA18C1C8A3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5DA1FAA6-204A-4630-9681-4BA7235112A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2CDB07AA-9D8D-4797-89D0-D0624337DB55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5051496E-517B-441B-8449-58AA18C1C8A3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C4128E58-B680-4B18-827F-C1A40A54198A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7D7DB3AB-1C27-4999-AA55-EF22774792A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{872, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AB331E24-B3EA-4F44-985D-3FBF4886330C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5DA1FAA6-204A-4630-9681-4BA7235112A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 453.33333333333331}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{765, 0}</string>
	<key>supportingDocumentEditor.selectedTextRanges</key>
	<string>79,0</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
